{{ define "navbar" }}
    <div class="navbar navbar-light navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <i class="fa fa-comments-o"></i>
                    ChitChat
                </a>
            </div>
            <div class="nav-item">
                <a href="/{{ .User.Username }}">
                    <i class="fa fa-user"></i>
                    {{ .User.Username }}
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
{{ end }}