{{ define "content" }}

    <form class="form-signin" role="form" action="/signup_account" method="post">
        <h2 class="form-signin-heading">
            <i class="fa fa-comments-o">
                Let's Chat
            </i>
        </h2>
        <div class="lead">Sign up for an account below</div>
        <input id="username" type="text" name="username" class="form-control" placeholder="Username" required autofocus>
        <input type="email" name="email" class="form-control" placeholder="Email address" required>
        <input type="password" name="password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
        <br>
        <div class="google-signup"> Or sign up using - <a href="/login/google"><i class="fa fa-lg fa-google"></i></a></div>
    </form>

{{ end }}